{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
  <div class="login">
    <div class="wrapper" style="min-height:100vh">
      <section class="sidebar sidebar--login"></section>
      <section class="main">
        <main></main>
      </section>

      <div class="popup">
        <div class="popup__content popup__content--login">
          <h2 class="popup__headline">Connectes toi !!!!!</h2>
          <p class="popup__text">
            Conectez toi pour profiter des tout le functionalite du site.
            <span class="popup__text popup__text--error"></span>
          </p>
          <form action="/blog" autocomplete="off" class="form form--login" method="post">
            <div class="form__line">
              <label for="username">Enter ton Username :
              </label>
              <input id="username" name="username" required type="text">
            </div>
            <div class="form__line">
              <label for="password">Enter ton mot des password :
              </label>
              <input id="password" name="password" required type="password">
            </div>
            <div class="form__button">
              <input type="submit" value="Send">
            </div>
          </form>
          <a class="textLink" href="/inscription">Pas encore un compte?</a>
        </div>
      </div>
    </div>
    <script src="js/script.js"></script>
  </div>
{% endblock %}
