{% extends 'base.html.twig' %}

{% block body %}

  <h1>Bienvenue dans ce blog : {{ title }}</h1>

    {% if age > 18 %}
      <p>Tu es majeur</p>
    {% else %}
      <p>Tu es mineur</p>
    {%  endif %}

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur beatae blanditiis cumque dicta, eius
    est excepturi facilis nulla odio quia quis quod reiciendis unde voluptatem. Amet consequatur cum dignissimos dolore
    error est impedit nam nobis, optio possimus tempora, tenetur!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur beatae blanditiis cumque dicta, eius
    est excepturi facilis nulla odio quia quis quod reiciendis unde voluptatem. Amet consequatur cum dignissimos dolore
    error est impedit nam nobis, optio possimus tempora, tenetur!</p>

{% endblock %}