{% extends 'base.html.twig' %}

{% block body %}

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur beatae blanditiis cumque dicta, eius
                est excepturi facilis nulla odio quia quis quod reiciendis unde voluptatem. Amet consequatur cum dignissimos dolore
                error est impedit nam nobis, optio possimus tempora, tenetur!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur beatae blanditiis cumque dicta, eius
                est excepturi facilis nulla odio quia quis quod reiciendis unde voluptatem. Amet consequatur cum dignissimos dolore
                error est impedit nam nobis, optio possimus tempora, tenetur!</p>

{% endblock %}
