{% extends 'base.html.twig' %}

{% block body %}


  <div class="accueil forum post--screem">
    <div class="wrapper">
      <div class="popup popup--info">
        <a href="/blog#post--{{ article.id}}">
          <button class="button--circle botton--close"></button>
        </a>
        <div class="popup__content">
          <div class="post">
            <div class="post__wrapper">
              <div class="post__vote vote">
                <p class="vote__number hidden-xs">3</p>
                <div class="vote__navigation">
                  <button class="vote__navigation__arrow vote__navigation__arrow--up"></button>
                  <button class="vote__navigation__arrow vote__navigation__arrow--down"></button>
                </div>
              </div>
              <div class="post__content">
                <p class="post__content__text">
                  ....
                  {{ article.content | raw }}
                </p>

                <div class="post__button--vote">
                  <div class="post__button--vote__box">
                    <button class="post__button--vote__arrow post__button--vote__arrow--up"></button>
                    <p class="post__button--commentCount post__button--commentCount--up">3</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
